//reset

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//import

@import "secciones/carrito";
@import "secciones/envios-pagos";
@import "secciones/experiencias";
@import "secciones/inicio";
@import "secciones/productos";
@import "secciones/footer";
@import "secciones/header";
@import "secciones/tipo-letras";
@import "secciones/medias-query";


   
  




  