.carrito-todo{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;

}
.carrito-vacio,
.carrito-compro{
    font-size: bold;
    color: rgb(5, 5, 5);
}

.productos-carrito{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.producto-carrito{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(177, 146, 106);
    padding: 0.5rem;
    border-radius: 1rem;
    }

.carrito-producto-imagen{
    width: 4rem;
    border-radius: 1rem;
}

.productos-carrito small{
    font-size: 1rem;
}

.carrito-producto-eliminar{
    border: 0;
    background-color: red;
    text-transform: to-upper-case($string: "");
    
}
.carrito-funciones{
    display: flex;
    justify-content: space-between;
}

.carrito-vaciar{
    border: 0;
    background-color: beige;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: bold;
}
.carrito-comprar{
    border: 0;
    background-color: rgb(171, 171, 180);
    padding: 1rem;
    border-radius: 1rem;
    font-weight: bold;
}

.carrito-funcion-derecha{
    display: flex;
}

.carrito-total{
    display: flex;
    border: 0;
    background-color: beige;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: bold;
    }

    .disable{
        display:none;
    }

   