@import "../base/mixin";
@import "../base/variables";

.titulos-env{
    /*display: flex;
    background: rgb(231, 187, 150);
    justify-content: space-around;*/
        display: grid;
        grid-template-columns: auto auto auto;  
       
}

.titulos-env-hijo{
    text-align: center;
  
}

.parrafos{
    padding: 1rem;
}
 
 .mapa-ubi{
    display: flex;
    justify-content: center;
    margin: 2rem;
 }